{% extends 'base.html.jinja' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="wrapper vh-100">
        <div class="row align-items-center h-100">
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            <form class="col-lg-3 col-md-4 col-10 mx-auto text-center" action="{{ url_for('login') }}" method="post">
                {{ form.csrf_token }}
                <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="{{ url_for("home") }}">
                    <img width="60%" src="{{ url_for("static", filename="img/logo.png") }}">
                </a>
                <h1 class="h6 mb-3">Connection</h1>
                <div class="form-group">
                    <label for="pseudo" class="sr-only">Pseudo</label>
                    <input type="text" name="pseudo" class="form-control form-control-lg" placeholder="Pseudo"
                           required="" autofocus="">
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control form-control-lg"
                           placeholder="Mot de Passe" required="">
                </div>
                {{ form.submit (class="btn btn-lg btn-primary btn-block") }}
            </form>
        </div>
    </div>
{% endblock %}
