{% extends 'base.html.jinja' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="wrapper vh-100">
        <div class="row align-items-center h-100">
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            <form class="col-lg-3 col-md-4 col-10 mx-auto text-center" action="{{ url_for('login') }}" method="post">
                {{ form.csrf_token }}
                <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="{{ url_for("home") }}">
                    <svg version="1.1" id="logo" class="navbar-brand-img brand-md" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120"
                         xml:space="preserve">
              <g>
                <polygon class="st0" points="78,105 15,105 24,87 87,87 	"/>
                  <polygon class="st0" points="96,69 33,69 42,51 105,51 	"/>
                  <polygon class="st0" points="78,33 15,33 24,15 87,15 	"/>
              </g>
            </svg>
                </a>
                <h1 class="h6 mb-3">Connection</h1>
                <div class="form-group">
                    <label for="pseudo" class="sr-only">Pseudo</label>
                    <input type="text" name="pseudo" class="form-control form-control-lg" placeholder="Pseudo"
                           required="" autofocus="">
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control form-control-lg"
                           placeholder="Mot de Passe" required="">
                </div>
                {{ form.submit (class="btn btn-lg btn-primary btn-block") }}
            </form>
        </div>
    </div>
{% endblock %}
