{% extends 'base.html.jinja' %}
{% block title %}Ajouter un utilisateur{% endblock %}
{% block body %}
    <div class="row align-items-center h-100">
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <form action="{{ url_for('profil_add') }}" method="post" class="col-lg-6 col-md-8 col-10 mx-auto">
            {{ form.csrf_token }}
            <div class="mx-auto text-center my-4">
                <h2 class="my-3">Ajouter un utilisateur</h2>
            </div>
            <div class="form-group">
                <label>Adresse mail</label>
                <input type="email" class="form-control" name="email">
                {% for error in form.email.errors %}
                    <span class="badge badge-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Prénom</label>
                    <input type="text" name="firstname" class="form-control">
                    {% for error in form.firstname.errors %}
                        <span class="badge badge-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group col-md-6">
                    <label>Nom</label>
                    <input type="text" name="lastname" class="form-control">
                    {% for error in form.lastname.errors %}
                        <span class="badge badge-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Fonction</label>
                    <input type="text" name="fonction" class="form-control">
                    {% for error in form.fonction.errors %}
                        <span class="badge badge-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group col-md-6">
                    <label>Téléphone</label>
                    <input type="text" name="telephone" class="form-control">
                    {% for error in form.telephone.errors %}
                        <span class="badge badge-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label>Adresse</label>
                <input type="text" class="form-control" name="adresse">
                {% for error in form.adresse.errors %}
                    <span class="badge badge-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <hr class="my-4">
            <div class="row mb-4">
                <div class="form-group col-md-6">
                    <label>Pseudo</label>
                    <input type="text" name="pseudo" class="form-control">
                    {% for error in form.pseudo.errors %}
                        <span class="badge badge-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Mot de passe</label>
                        <input type="password" class="form-control" name="password">
                        {% for error in form.password.errors %}
                            <span class="badge badge-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label>Confirmer le mot de passe</label>
                        <input type="password" class="form-control" name="passwordconfirm">
                        {% for error in form.passwordconfirm.errors %}
                            <span class="badge badge-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {{ form.submit (class="btn btn-primary btn-lg btn-block") }}
            <p class="mt-5 mb-3 text-muted text-center">Julen Elizalde et Samuel HENTRICS © 2021</p>
        </form>
    </div>
{% endblock body %}