{% extends 'base.html.jinja' %}

{% block title %}Liste des profils{% endblock %}

{% block body %}

    <div class="col-12">
        <div class="row align-items-center my-4">
            <div class="col">
                <h2 class="h3 mb-0 page-title">Liste des contacts</h2>
            </div>
            <div class="col-auto">
                <a href="{{ url_for('profil_add') }}">
                    <button type="button" class="btn btn-primary"><span class="fe fe-user-plus fe-12 mr-2"></span>Créer un
                        utilisateur
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
            {% for user in users %}
                <div class="col-md-3">
                    <div class="card shadow mb-4">
                        <div class="card-body text-center">
                            <div class="avatar avatar-lg mt-4">
                                <a href="">
                                    <img src="{{ url_for("static", filename=user['avatar']) }}" alt="..."
                                         class="avatar-img rounded-circle">
                                </a>
                            </div>
                            <div class="card-text my-2">
                                <strong class="card-title my-0">{{ user['firstname'] }} {{ user['lastname'] }} </strong>
                                <p class="small text-muted mb-0">Pseudo : {{ user['pseudo'] }}</p>
                                <p class="small"><span
                                        class="badge badge-light text-muted">{{ user['fonction'] }}</span></p>
                            </div>
                        </div> <!-- ./card-text -->
                        <div class="card-footer">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-auto">
                                    <small>
                                        {% if user['admin']==1 %}
                                            <span class="dot dot-lg bg-success mr-1"></span> Admin
                                        {% else %}
                                            <span class="dot dot-lg bg-danger mr-1"></span> Non Admin
                                        {% endif %}
                                        {% if session['user']['id']==user['id'] %} (vous) {% endif %}
                                    </small>
                                </div>
                                {% if session['user']['id']!=user['id'] %}
                                    <div class="col-auto">
                                        <div class="file-action">
                                            <button type="button"
                                                    class="btn btn-link dropdown-toggle more-vertical p-0 text-muted mx-auto"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="text-muted sr-only">Action</span>
                                            </button>
                                            <div class="dropdown-menu m-2">
                                                <a class="dropdown-item"
                                                   href="{{ url_for('profil_edit', id=user['id']) }}"><i
                                                        class="fe fe-edit fe-12 mr-4"></i>Modifier</a>
                                                <a class="dropdown-item" href="mailto:{{ user['email'] }}"><i
                                                        class="fe fe-mail fe-12 mr-4"></i>Email</a>
                                                <a class="dropdown-item-confirmation"
                                                   href="{{ url_for('profil_delete', id=user['id']) }}"><i
                                                        class="fe fe-trash fe-12 mr-4"></i>Supprimer</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div> <!-- /.card-footer -->
                    </div>
                </div> <!-- .col -->
            {% endfor %}
            <nav aria-label="Table Paging" class="my-3 {% if maximum > 1 %}">
                    <ul class="pagination justify-content-end mb-0">
                        <li class="page-item {% if prev < 1 %} disabled {% endif %}">
                            <a class="page-link" href="{{ url_for('profil_list', page=prev) }}">Précédent</a>
                        </li>
                        {% for p in pages %}
                            <li class="page-item {% if p == page %} active {% endif %}">
                                <a class="page-link" href="{{ url_for('profil_list', page=p) }}">{{ p }}</a>
                            </li>
                        {% endfor %}
                        <li class="page-item {% if prev > (maximum - 2) %} disabled {% endif %}">
                            <a class="page-link" href="{{ url_for('profil_list', page=next) }}">Suivant</a>
                        </li>
                    </ul>
                </nav {% endif %}>
        </div>
        <div class="col-md-9"></div> <!-- .col -->
    </div> <!-- .col-12 -->
{% endblock %}