{% extends 'base.html.jinja' %}

{% block title %}Paramètres du profil{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <h2 class="h3 mb-4 page-title">Paramètres</h2>
                <div class="my-4">
                    {% if error %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endif %}
                    <form action="{{ url_for('profil') }}" method="post" enctype="multipart/form-data">
                        {{ form.csrf_token }}
                        <div class="row mt-5 align-items-center">
                            <div class="col-md-3 text-center mb-5">
                                <div class="avatar avatar-xl">
                                    <img src="{{ url_for("static", filename=session['user']['avatar']) }}" alt="..."
                                         class="avatar-img rounded-circle">
                                </div>
                            </div>
                            <div class="col">
                                <div class="row align-items-center">
                                    <div class="col-md-7">
                                        <h4 class="mb-1">{{ session['user']['firstname'] }} {{ session['user']['lastname'] }}</h4>
                                        <p class="small mb-3"><span
                                                class="badge badge-dark">{{ session['user']['fonction'] }}</span></p>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-7">
                                        <p class="text-muted">
                                            Bienvenue dans votre espace personnel de paramétrage de votre compte
                                        </p>
                                        <a href="{{ url_for('myavatar') }}" class="btn mb-2 p-1 mr-3 btn-outline-primary active ">
                                            Changer l'avatar
                                        </a>
                                    </div>
                                    <div class="col">
                                        <p class="small mb-0 text-muted">{{ session['user']['adresse'] }}</p>
                                        <p class="small mb-0 text-muted">+33 {{ session['user']['telephone'] }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstname">Prénom</label>
                                <input type="text" name="firstname" class="form-control"
                                       value="{{ session['user']['firstname'] }}">
                                {% for error in form.firstname.errors %}
                                    <span class="badge badge-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lastname">Nom</label>
                                <input type="text" name="lastname" class="form-control"
                                       value="{{ session['user']['lastname'] }}">
                                {% for error in form.lastname.errors %}
                                    <span class="badge badge-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" name="email" value="{{ session['user']['email'] }}">
                            {% for error in form.email.errors %}
                                    <span class="badge badge-danger">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="inputAddress5">Adresse</label>
                            <input type="text" class="form-control" name="adresse"
                                   value="{{ session['user']['adresse'] }}">
                            {% for error in form.adresse.errors %}
                                    <span class="badge badge-danger">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCompany5">Téléphone</label>
                                <input type="text" class="form-control" name="telephone"
                                       value="0{{ session['user']['telephone'] }}">
                                {% for error in form.telephone.errors %}
                                    <span class="badge badge-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputCompany5">Pseudo (ne peut être changé)</label>
                                <input type="text" disabled=disabled class="form-control" name="pseudo"
                                       value="{{ session['user']['pseudo'] }}">
                            </div>
                        </div>
                        <hr class="my-4">
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputPassword4">Ancien mot de passe</label>
                                    <input type="password" class="form-control" id="password" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword5">Nouveau mot de passe</label>
                                    <input type="password" class="form-control" id="inputPassword5">
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword6">Confirmer le mot de passe</label>
                                    <input type="password" class="form-control" id="inputPassword6">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-2">Requis du mot de passe</p>
                                <p class="small text-muted mb-2"> Pour créer un mot de passe, you have to meet all of
                                    the following requirements: </p>
                                <ul class="small text-muted pl-4 mb-0">
                                    <li> Minimum 8 caractères</li>
                                    <li>Au moins un caractère spécial</li>
                                    <li>Au moins un chiffre</li>
                                </ul>
                            </div>
                        </div>
                        {{ form.submit (class="btn btn-primary btn-lg btn-block") }}
                    </form>
                </div> <!-- /.card-body -->
            </div> <!-- /.col-12 -->
        </div> <!-- .row -->
    </div> <!-- .container-fluid -->
{% endblock %}