{% extends 'base.html.jinja' %}

{% block title %}Emprunts{% endblock %}

{% block body %}
    <div class="col-12">
        <div class="row align-items-center my-4">
            <div class="col">
                <h2 class="h3 mb-0 page-title">Emprunts de l'année {{ annee }}</h2>
            </div>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-body">
            <!-- table -->
            <table class="table table-bordered">
                <tr role="row">
                    <th scope="col">Libelle</th>
                    <th scope="col">Capital</th>
                    <th scope="col">Interet</th>
                    <th scope="col">Début</th>
                    <th scope="col">Periodicité</th>
                    <th scope="col">Echeance</th>
                    <th scope="col">Preteur</th>
                </tr>
                </thead>
                {% for mois in data %}
                    {% if data[mois] != [] %}
                        <tr role="group" class="bg-light">
                            <td colspan="10"><strong>{{ mois }}</strong></td>
                        </tr>
                        {% for emprunt in data[mois] %}
                            <tr>
                                <td>{{ emprunt['libelle'] }}</td>
                                <td>{{ emprunt['capital'] }}</td>
                                <td>{{ emprunt['interet'] }}</td>
                                <td>{{ emprunt['date'] }}</td>
                                <td>{{ emprunt['periodicite'] }}</td>
                                <td>{{ emprunt['restant'] }}/{{ emprunt['echeance'] }}</td>
                                <td>{{ emprunt['preteur'] }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </table>
            </tbody>
        </div>
    </div>
{% endblock %}