{% extends 'base.html.jinja' %}

{% block title %}Emprunts{% endblock %}

{% block body %}
    <div class="card shadow">
        <div class="card-body">
            <!-- table -->
            <table class="table table-bordered">
                <tr role="row">
                    <th scope="col">Libelle</th>
                    <th scope="col">Capital</th>
                    <th scope="col">Interet</th>
                    <th scope="col">Début</th>
                    <th scope="col">Periodicité</th>
                    <th scope="col">Echeance</th>
                    <th scope="col">Preteur</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                {% for mois in data %}
                    {% if data[mois] != [] %}
                        <tr role="group" class="bg-light">
                            <td colspan="10"><strong>{{ mois }}</strong></td>
                        </tr>
                        {% for emprunt in data[mois] %}
                            <tr>
                                <td>{{ emprunt['libelle'] }}</td>
                                <td>{{ emprunt['capital'] }}</td>
                                <td>{{ emprunt['interet'] }}</td>
                                <td>{{ emprunt['date'] }}</td>
                                <td>{{ emprunt['periodicite'] }}</td>
                                <td>{{ emprunt['restant'] }}/{{ emprunt['echeance'] }}</td>
                                <td>{{ emprunt['preteur'] }}</td>
                                <td>
                                    <button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <span class="text-muted sr-only">Action</span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <a class="dropdown-item" href="#">Remove</a>
                                        <a class="dropdown-item" href="#">Assign</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </table>
            </tbody>
        </div>
    </div>
{% endblock %}