{% extends 'base.html.jinja' %}

{% block title %}Page d'informations{% endblock %}

{% block body %}
    <div class="col-12">
        <div class="row align-items-center my-4">
            <div class="col">
                <h2 class="h3 mb-0 page-title">Informations</h2>
            </div>
        </div>
    </div>
{% endblock %}
