{% extends 'base.html.jinja' %}

{% block title %}Page d'informations{% endblock %}

{% block body %}
    <div class="col-12">
        <div class="row align-items-center my-4">
            <div class="col">
                <h2 class="h3 mb-0 page-title">Informations</h2>
                <div class="row my-4">
                <div class="col-md-9">
                  <div class="card shadow mb-4">
                    <div class="card-header">
                      <strong class="card-title">Gestion Tresorerie</strong>
                      <span class="float-right"><span class="badge badge-pill badge-success text-white">V.1.0.0</span></span>
                    </div>
                      <div class="card-body">
                          Ce projet vient du projet github <a href="https://github.com/samuelhentrics/FlaskTresorerie">FlaskTresorerie</a>.<br>
                          Ce projet est open-source et il sert pour la gestion de la tresorerie des mairies.<br>
                          Ce projet a été developpé par Samuel HENTRICS ainsi que Julen ELIZALDE.
                      </div>

                  </div> <!-- .card -->
                </div>
                <div class="col-md-3">
                  <div class="card shadow mb-4">
                    <div class="card-body">
                      <h3 class="h5 mb-1">Développeurs</h3>
                      <ul class="list-unstyled">
                        <li class="my-1">
                            <i class="fe fe-file-text mr-2 text-muted"></i>Samuel HENTRICS
                            <a href="https://paypal.me/samuelhentrics"><i class="fe fe-gift mr-2 text-muted"></i></a>
                            <a href="https://github.com/samuelhentrics"><i class="fe fe-github mr-2 text-muted"></i></a>
                        </li>
                        <li class="my-1">
                            <i class="fe fe-file-text mr-2 text-muted"></i>Julen ELIZALDE
                            <a href="https://paypal.me/Goldenhunter264"><i class="fe fe-gift mr-2 text-muted"></i></a>
                            <a href="https://github.com/GoldenPigeon64"><i class="fe fe-github mr-2 text-muted"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div> <!-- .col-md -->
              </div>
            </div>
        </div>
    </div>
{% endblock %}


