{% extends 'base.html.jinja' %}

{% block title %}CAF - Recettes {{ annee }}{% endblock %}

{% block body %}
    <div class="col-12">
        <div class="row align-items-center my-4">
            <div class="col">
                <h2 class="h3 mb-0 page-title">Recettes de l'année {{ annee }}</h2>
            </div>
            <a href="{{ url_for('recettes_add_caf', annee=annee) }}">
                <button type="button" class="btn btn-primary"><span class="fe fe-plus fe-12 mr-2"></span>Ajouter une recette
                </button>
            </a>
        </div>
        <div class="row my-4">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <table class="table datatables" id="dataTable-1">
                            <thead>
                            <tr>
                                <th scope="col" width="80%">Objet</th>
                                <th scope="col">Montant</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for recette in recettes %}
                                <tr>
                                    <td>{{ recette['objet'] }}</td>
                                    <td>{{ recette['montant'] }}</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-sm dropdown-toggle" type="button" id="dr1"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="text-muted sr-only">Action</span>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dr1">
                                                <a class="dropdown-item" href="#">Modifier</a>
                                                <a class="dropdown-item-confirmation"
                                                   href="{{ url_for('recettes_delete_caf', id=recette['id'], annee=annee) }}">Supprimer</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}